/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #7e22ce;
  --light-purple: #f3e8ff;
  --hover-purple: #e9d5ff;
}

.custom-button {
  display: flex;
  flex-direction: rox;
  gap: 8px;
  border-radius: 16px;
  padding: 8px;
  background-color: var(--light-purple);
}
.custom-button:hover,
.custom-button:focus {
  background-color: var(--hover-purple);
}
